{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('components/boutons.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <form method="post" action="{{ path('app_login')}}">

        <h1>Connexion au portail</h1>

        {% if error %}
            <div class="error">
                Email ou mot de passe incorrect
            </div>
        {% endif %}

        <label for="email">Email - champ obligatoire</label>
        <input
            type="email"
            name="_username"
            id="username"
            value="{{ last_username }}"
            required
            autofocus
        >

        <label for="password">Mot de passe - champ obligatoire</label>
        <input
            type="password"
            name="_password"
            id="password"
            required
        >

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn-bleu" type="submit">Accéder au portail</button>
    </form>
</div>
{% endblock %}
