.btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* Variantes */
.btn-bleu {
  background: #28416C;
  color: white;
}

.btn-blanc {
  background: #F0F0F0;
  color: black;
}

.btn-jaune {
  background: #FFBE2F;
  color: black;
}

.btn-rouge {
  background: #FF1E10;
  color: white;
}

.switch-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* fond du switch */
.slider {
  position: absolute;
  inset: 0;
  background: #d1d5db; /* gris */
  border-radius: 24px;
  transition: .3s;
}

/* pastille */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: .3s;
}

/* état ON */
.switch input:checked + .slider {
  background: #28416C;
}

/* pastille déplacée */
.switch input:checked + .slider::before {
  transform: translateX(22px);
}
