<li style="margin-left: {{ niveau * 20 }}px;">
    <div class="d-flex align-items-center justify-content-between mb-1">
        <div>
            {{ module.description }} ({{ module.nbHeure }}h) 
        </div>
        <div>
            <a href="{{ path('module_edit', {'id': module.id}) }}" class="btn btn-blanc btn-primary">></a>
        </div>
    </div>

    {% if module.enfants is not empty %}
        <ul class="list-unstyled">
            {% for enfants in module.enfants %}
                {% include 'module/_module_item.html.twig' with { 'module': enfants, 'niveau': niveau + 1 } %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
