
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/components/menu.css') }}">
    {% endblock %}
<div class="sidebar">
    <div class="sidebar-content">
        <div class="logo">
            <img src="{{ asset('media/logosv.png') }}" alt="Logo" style="width: 10%; height: auto; margin-bottom: 20px;">
            <div class="nom-lycee">
            <h2>Lycée Saint-Vincent</h2>
            <p>Enseignement Supérieur</p>
            </div>
        </div>
</div>